@import "./mixin.scss";
.main_form_dev{
      width: 100%;
      @include flexgroup2;
      padding: 100px 0px;
     
}

form {
     background-color: rgb(7, 27, 43);
    padding: 44px;
    border-radius: 10px;
 
    label {
      font-family: "cursive";
      color: rgb(171, 202, 171);
      font-weight: bold;
  
    }
    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      padding-left: 10px;
      border: none;
      border-radius: 5px;
  
      &:focus {
        outline: none;
      }
    }

    .login_btn, .signup_btn{
        width: max-content;
        color: white;
        padding: 10px 10px;
        background-color:  #08071b;
        text-transform: capitalize;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        margin: 20px 0;
        transition: all .5s linear;
        &:hover{
            background-color: rgb(39, 35, 35);
            color: rgb(236, 231, 231);
        }
    }
}
  
  

// sign up 

.already_account{
      color: rgb(85, 97, 97);
      text-decoration: none;
      &:hover{
          color: white;
      }
      
}