@mixin flexgroup1 {
       display: flex;
       justify-content: space-between;
       align-items: center;
}

@mixin  flexgroup2 {
       display: flex;
       justify-content: center;
       align-items: center;
}

@mixin  flexgroup3 {
       display: flex;
       justify-content: center;
       align-items: center;
}

