.Delete_btn{
         width: max-content;
          border-radius: 10px 30px 11px 0px  !important;
         background-color: #ff2020;
         width: max-content;
         border-radius: 0px 37px 3px 1px !important;
         padding: 8px;
         cursor: pointer;
    svg {
       
              color: rgb(209, 197, 197) !important;
              border-radius: 10px;
              font-size: 20px;
           

         }
    
}
.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 300px;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;


    figure {
        img {
            width: 100%;

        }
    }

    .details {
        background-color: #FFF;
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        top: 85%;
        width: 100%;
        transition: box-shadow .3s ease-in-out,
            top .3s ease-in-out;

        .min_details {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;

            h5 {
                color: black;

                span {
                    color: #7B7B7B;
                    display: block;
                    font-size: .9rem;
                    font-weight: 400;
                }
            }
        }

        .options {

            .options_size {
                margin-bottom: 20px;


                ul {
                    li {
                        background-color: rgba(0, 0, 0, 0.5);
                        color: #FFF;
                        font-size: .7rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        transition: background-color .3s ease-in-out;

                        &:hover {
                            background-color: #192a56;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                display: flex;

                li {
                    border-radius: 50%;
                    cursor: pointer;
                    height: 30px;
                    line-height: 30px;
                    margin-right: 5px;
                    text-align: center;
                    width: 30px;
                }
            }

            .options_colors {
                margin-bottom: 20px;

                ul {
                    li {
                        border: none;

                        &:nth-child(1) {
                            background-color: #FF1;
                        }

                        &:nth-child(2) {
                            background-color: #000;
                        }

                        &:nth-child(3) {
                            background-color: #FB0000;
                        }

                        &:nth-child(4) {
                            background-color: #FF69B4;
                        }

                        &:nth-child(5) {
                            background-color: #192a56;
                        }


                    }
                }

            }
        }


    }

    &:hover .details {
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
        top: 0%;
    }

    .btn {
        background-color: #192a56;
        border-radius: 5px;
        color: #FFF;
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        width: 100%;
        transition: box-shadow .3s ease-in-out,
            transform .3s ease-in-out;

        &:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
            transform: translateY(-2px);
        }
    }


}